* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #E5E7E9;
    height: 100%;
    position: relative;
}

.hidden {
    display: none
}

header, footer {
    padding: 7px;
    min-width: 600px;
    width: 100%;
    background: #00305E;
    box-sizing: border-box;
}

header{
    position: fixed;
    height: 80px;
    border-bottom: #E5E7E9;
    box-shadow: rgba(0,0,0,0.10) 0 1px 1px 0,rgba(0,0,0,0.30) 0 4px 4px 0;
    z-index: 5;
}

header #title {
    margin: 0 auto 3px;
    color: #E5E5E5;
    text-align: center;
    font-size: xx-large;
}
header #subtitle {
    margin: 0 auto 3px;
    color: #E5E5E5;
    text-align: center;
    font-weight: normal;
    font-size: large;
}
header .latency {
    position: absolute;
    top: 2px;
    right: 2px;
    color: #818BAC;
}
header .users {
    position: absolute;
    top: calc(2px + 1.2em);
    right: 2px;
    color: #818BAC;
}

header video {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 80px;
}

#sidebar {
    position: absolute;
    top: 80px;
    right: 0;
    width: 55%;
    min-width: 300px;
    max-width: calc(100% - 200px);
    height: 100%;
}

#sidebar:after {
    content: " ";
    background-color: #818BAC;
    position: absolute;
    left: 0;
    width: 3px;
    top: 0;
    height: 100%;
    cursor: col-resize;
    z-index: 1;
    border-left: 1px #818BAC;
    box-shadow: 1px 0px 2px #818BAC;
}

#content {
    position: fixed;
    top: 80px;
    left: 0;
    width: 45%;
    min-width: 200px;
    max-width: calc(100% - 300px);
    height: calc(100% - 80px - 60px);
    overflow-y: auto;
    z-index: 0;
}

#chat-area {
    margin: 10px 0 0px;
}
#chat-area li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.other .message {
    border-top-left-radius: 0;
    box-shadow: -1px 2px 0 #CECDCD;
}
.other:before {
    content: "";
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid #CECDCD;
    border-left-color: transparent;
    border-bottom-color: transparent;
    margin-right: -2px;
}

.other .message-box {
    background: #CECDCD;
    color: #000;
}

.self, .command {
    justify-content: flex-end;
    align-items: flex-end;
}
.private .message, .command .message {
    font-style: italic;
}
.self .message, .command .message {
    border-bottom-right-radius: 0;
    box-shadow: 1px 2px 0 #AbACAF;
}
.self:after, .command:after {
    content: "";
    position: relative;
    display: inline-block;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #AbACAF;
    border-right-color: transparent;
    border-top-color: transparent;
    margin-left: -2px;
}
.self .message-box, .command .message-box {
    background: #AbACAF;
}

.message-box {
    min-width: 50px;
    padding: 10px;
    border-radius: 2px;
}
.message-box .user {
    font-size: 14px;
    color: #666;
    font-weight: 700;
    margin: -2px 0 5px;
}
.message-box span {
    margin: 0 0 2px 0;
    color: #333;
}

.message-box time {
    font-size: 0.7rem;
    color: rgba(0,0,0,.35);
    /*margin: 0 0 2px 0;*/
    margin-top: 2px;
    margin-left: 5px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
time:before{
    content:"\f017";
    font-family: FontAwesome, serif;
    font-weight: normal;
    display: inline-block;
    margin-right: 4px;
}

.notification {
    color: #5a5a5a;
    background: #ffffff;

    border-radius: 100px;
    margin: 5px auto;
    width: 70%;
    cursor: default;
}
.notification p {
    line-height: 1em;
}
.notification time {
    margin-left:auto;
    margin-right:0;
    font-size: 11px;
}

#typing {
    margin: 0px 0px 15px;
}

#typing li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    opacity: 0.7;
}

#type-area textarea {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.2em;
    z-index: 2;

    padding: 0 55px 10px;
    width: 95%;
    height: 60px;
    box-shadow: rgba(0,0,0,0.15) 0 10px 10px 0,rgba(0,0,0,0.10) 0 10px 20px 0;

    border: none;
    outline: none;   
}

textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
}
